<div class="container-fluid page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#"><i class="material-icons icon-20pt">home</i></a></li>
        <li class="breadcrumb-item">UI table</li>
        <li class="breadcrumb-item active" aria-current="page">table</li>
      </ol>
    </nav>

    <h1 class="m-0">Table</h1>
  </div>
</div>
<table class="table mb-0 thead-border-top-0">
  <thead>
  <tr>

    <th style="width: 18px;">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input js-toggle-check-all" data-target="#{{ id }}" id="customCheckAll">
        <label class="custom-control-label" for="customCheckAll"><span class="text-hide">Toggle all</span></label>
      </div>
    </th>

    <th>Employee</th>
    <th style="width: 220px;">Current Employer</th>
    <th style="width: 60px">Projects</th>
    <th style="width: 37px;">Status</th>
    <th style="width: 120px;">Last Activity</th>
    <th style="width: 51px;">Earnings</th>
    <th style="width: 24px;"></th>
  </tr>
  </thead>
  <tbody class="list" id="blah">
  <tr>
    <td>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input js-check-selected-row" checked="" id="customCheck1_0">
        <label class="custom-control-label" for="customCheck1_0"><span class="text-hide">Check</span></label>
      </div>
    </td>

    <td>

      <div class="media align-items-center">
        <div class="avatar avatar-xs mr-2">
          <img src="/assets/stack/256_luke-porter-261779-unsplash-d691468f5260a90ed3776c15f64d659b0136e6aabbb2514f43a6845615ce14a4.jpg" alt="Avatar" class="avatar-img rounded-circle">
        </div>
        <div class="media-body">
          <span class="js-lists-values-employee-name">Michael Smith</span>
        </div>
      </div>
    </td>

    <td>
      <div class="media align-items-center">
        <a href="">Black Ops</a>
        <a href="#" class="rating-link"><i class="material-icons ml-2">star</i></a>
      </div>
    </td>

    <td class="text-center">12</td>
    <td><span class="badge badge-warning">ADMIN</span></td>
    <td><small class="text-muted">3 days ago</small></td>
    <td>&dollar;12,402</td>
    <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
  <tr>
    <td>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input js-check-selected-row" checked="" id="customCheck1_1">
        <label class="custom-control-label" for="customCheck1_1"><span class="text-hide">Check</span></label>
      </div>
    </td>

    <td>

      <div class="media align-items-center">
        <div class="avatar avatar-xs mr-2">
          <img src="/assets/stack/256_luke-porter-261779-unsplash-d691468f5260a90ed3776c15f64d659b0136e6aabbb2514f43a6845615ce14a4.jpg" alt="Avatar" class="avatar-img rounded-circle">
        </div>
        <div class="media-body">
          <span class="js-lists-values-employee-name">Michael Smith</span>
        </div>
      </div>
    </td>

    <td>
      <div class="media align-items-center">
        <a href="">Black Ops</a>
        <a href="#" class="rating-link"><i class="material-icons ml-2">star</i></a>
      </div>
    </td>

    <td class="text-center">12</td>
    <td><span class="badge badge-warning">ADMIN</span></td>
    <td><small class="text-muted">3 days ago</small></td>
    <td>&dollar;12,402</td>
    <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
  <tr>
    <td>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input js-check-selected-row" checked="" id="customCheck1_2">
        <label class="custom-control-label" for="customCheck1_2"><span class="text-hide">Check</span></label>
      </div>
    </td>

    <td>

      <div class="media align-items-center">
        <div class="avatar avatar-xs mr-2">
          <img src="/assets/stack/256_luke-porter-261779-unsplash-d691468f5260a90ed3776c15f64d659b0136e6aabbb2514f43a6845615ce14a4.jpg" alt="Avatar" class="avatar-img rounded-circle">
        </div>
        <div class="media-body">
          <span class="js-lists-values-employee-name">Michael Smith</span>
        </div>
      </div>
    </td>

    <td>
      <div class="media align-items-center">
        <a href="">Black Ops</a>
        <a href="#" class="rating-link"><i class="material-icons ml-2">star</i></a>
      </div>
    </td>

    <td class="text-center">12</td>
    <td><span class="badge badge-warning">ADMIN</span></td>
    <td><small class="text-muted">3 days ago</small></td>
    <td>&dollar;12,402</td>
    <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
  </tr>
  </tbody>
</table>